body{
    background-color: #0e0e0e;
    color: white;
}
.nav-links{
    color: #8D9AA9;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


a:link, :visited{
    font-size: 16px;
    color: #4daafc;
}
button a:link, button a:visited{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
button:hover{
    
}

.nav-links a:link{
    color: #8D9AA9;
    text-decoration: none;
}
.nav-links a:visited{
    color: #8D9AA9;
    text-decoration: none;
}
